<%- include header.ejs %>
<%- include style.ejs %>
<div class="main-wrapper">

    <h1><%=author.name%></h1>

    <div class="header-container text-center">
        <input id="main-search" class="form-control search-bar" placeholder="Írj be valamit a kereséshez!">
        <a href="/performers" class="btn btn-default header-btn pull-left no-left-margin">&laquo; Vissza</a>
        <a href="/add-song" type="button" data-toggle="modal" data-target="#modal" class="btn btn-default header-btn pull-right">Dal hozzáadása</a>
        <a href="/" class="btn btn-default header-btn pull-right">Főoldal</a>
    </div>

    <%if(songs != false) {%>
    <div class="table-responsive performers-table">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>Cím</th>
                <th>Hossz</th>
                <th>Műfaj</th>
                <th>Év</th>
            </tr>
            </thead>

            <tbody>
            <% songs.forEach(function(song) { %>
            <tr href="/edit-song/<%=song._id%>" class="clickable" data-toggle="modal" data-target="#modal">
                <td><%= song.title %></td>
                <td><%= song.length %></td>
                <td><%= song.genre %></td>
                <td><%= song.year %></td>
            </tr>
            <% }); %>
            </tbody>

        </table>
    </div>
    <%} else {
    %>
    <br/>
    <div class="alert alert-danger"> Nincs adat! </div>
    <% } %>
</div>

<%- include modalFrame.ejs %>

<a href="/login" class="login-sticky btn btn-primary">Jelentkezz be!</a>
<%- include footer.ejs %>